* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
   /*scroll-snap-type: y mandatory; Grampeia ao eixo Y */
}

section {
  height: 100vh; /* Altura total da tela */
  scroll-snap-align: start; /* Alinha no início da sessão quando faz scroll */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure;
}

#Linkedin img { width: 2.5em;
            margin-top: 1em;
              margin-left: 24.5em;}

#instagram img { width: 4.5em;
                  margin-top: 0.2em;
                    margin-left: 5em;}

#Whatsapp img {width: 3em;
                margin-top: 0.9em;
                  margin-left: 5em;
}

.opcoes { font-family: "Roboto", sans-serif;
  border: solid 0.8px greenyellow;
  border-radius: 1em;
  padding: 1em;
  width: 60em;
  height: 5em;
  margin-left: 4em;
  margin-top: -12em;
}

ul { font-family: "Roboto", sans-serif;
  list-style: none;
  display: flex;
  margin-top: 1em;
  margin-left: 8em;
}

li a { font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: azure;
  margin-right: 2em;
  padding: 1em;
}

h1 {
  font-size: 4em;
  margin-top: 1em;
  margin-left: -10em;
}

.line {border-bottom: 0.1em solid greenyellow;
width: 60em;
margin-top: 4em;}

.line-2 {border-bottom: 0.1em solid azure;
  width: 60em;
  margin-top: 0.5em;
  margin-left: 17rem;}

.line-3 {border-bottom: 0.1em solid greenyellow;
  width: 60em;
  margin-top: 17em;}

.line-4 {border-bottom: 0.1em solid greenyellow;
    width: 63em;
    margin-top: 25em;
    margin-left: 17em;}
  

h2 {font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  font-size: 1.4em;
  margin-top: 2.5em;
  margin-left: -13em;
  word-spacing: 3px;
  line-height: 30px;
}

section.sobre-mim h1 {font-family: "Roboto", sans-serif;
                        margin-top: 0.1em;
                        margin-left: 0em;
                          color: greenyellow; }


section.sobre-mim p {font-family: Arial, Helvetica, sans-serif;
                      font-size: 1.3em;
                      margin-top: 4em;
                        margin-right: 5em;
                          margin-left: 7em;
                            line-height: 30px;
                              font-weight: 10;
                                word-spacing: 3px;

}

section#meus-estudos h1 { color: azure;
margin-top: 4.5em;
margin-left: 0em;
}

#resumo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin-top: 4em;
    margin-right: 5em;
      margin-left: 7em;
        line-height: 30px;
          font-weight: 10;
            word-spacing: 3px;}

#experiencia {font-family: Arial, Helvetica, sans-serif;
                margin-left: 1rem;
                    word-spacing: 3px;
                      font-weight: 10;
                      line-height: 30px;
                      }

h3 { color: greenyellow;}

#experencia-2 {font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
      word-spacing: 3px;
        font-weight: 10;
        line-height: 30px;
        margin-top: 2em;
        }

#experencia-2 ul { margin-top: 1em;}

#experencia-2 li {margin-right: 1em;}

#experencia-3 {font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
      word-spacing: 3px;
        font-weight: 10;
        line-height: 30px;
        margin-top: 2em;}
                      
#experencia-3 li {margin-right: 1.5em;}

#minha-carreira h1 { font-family: "Roboto", sans-serif;
                      color: azure;
                        margin-top: 13.5em;
                          margin-left: 1em;}

#minha-carreira p {font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  margin-top: 4em;
    margin-right: 5em;
      margin-left: 7em;
        line-height: 30px;
          font-weight: 10;
            word-spacing: 3px;}

                          
#trabalho-1 {font-family: Arial, Helvetica, sans-serif;
              margin-left: 1rem;
                  word-spacing: 3px;
                    font-weight: 10;
                    line-height: 30px;
                    margin-top: 2em;}
                                  
#trabalho-1 ul {margin-left: 6em;} 

#trabalho-1 li {margin-right: 2em;
                margin-left: 2em;
                  }

#trabalho-2 {font-family: Arial, Helvetica, sans-serif;
            margin-left: 1rem;
                word-spacing: 3px;
                  font-weight: 10;
                  line-height: 30px;
                  margin-top: 2em;}
                                
#trabalho-2 ul {margin-left: 6em;} 

#trabalho-2 li {margin-right: 2em;
              margin-left: 2em;
                } 

#trabalho-3 {font-family: Arial, Helvetica, sans-serif;
            margin-left: 1rem;
                word-spacing: 3px;
                  font-weight: 10;
                  line-height: 30px;
                  margin-top: 2em;}
                                
#trabalho-3 ul {margin-left: 6em;} 

#trabalho-3 li {margin-right: 2em;
              margin-left: 2em;
                }                 

#rodape {color: greenyellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin-top: 25em;
    margin-right: 5em;
      margin-left: 7em;
        line-height: 30px;
          font-weight: 10;
            word-spacing: 3px;
              }

@media screen and ( max-width: 414px){

  body {
    background-color: black;
    /* scroll-snap-type: y mandatory Grampeia ao eixo Y */
  }
  
  section {
    height: 100vh; /* Altura total da tela */
    scroll-snap-align: start; /* Alinha no início da sessão quando faz scroll */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
  }
  
  #Linkedin img { width: 2.8em;
              margin-top: 1em;
                margin-left: 10em;}
  
  #instagram img { width: 4.5em;
                    margin-top: 0.2em;
                      margin-left: 0.3em;}
  
  #Whatsapp img {width: 3em;
                  margin-top: 0.9em;
                    margin-left: 0.3em;
  }
  
  .opcoes { font-family: "Roboto", sans-serif;
    border: solid 0.8px greenyellow;
    border-radius: 1em;
    padding: 1em;
    width: 24em;
    height: 5em;
    margin-left: 0em;
    margin-top: -19em;
    
  }
  
  ul { font-family: "Roboto", sans-serif;
    list-style: none;
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
   
  }
  
  li a { font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: azure;
    margin-right: 0.01em;
    padding: 1em;
    font-size: 0.61em;
    margin-left: -0.4em;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-left: -4em;
  }
  
  .line {border-bottom: 0.1em solid greenyellow;
  width: 18em;
  margin-top: 1em;}
  
  .line-2 {border-bottom: 0.1em solid azure;
    width: 18em;
    margin-top: -15em;
    margin-left: 3.5rem;}
  
  .line-3 {border-bottom: 0.1em solid greenyellow;
    width: 18em;
    margin-top: 4em;}
  
  .line-4 {border-bottom: 0.1em solid greenyellow;
      width: 18em;
      margin-top: 49em;
      margin-left: 3.5em;}
    
  
  h2 {font-family: Arial, Helvetica, sans-serif;
    font-weight: 1.5em;
    font-size: 0.8em;
    margin-top: 1em;
    margin-left: 1em;
    word-spacing: 3px;
    line-height: 30px;
  }
  
  section.sobre-mim h1 {font-family: "Roboto", sans-serif;
                          margin-top: -3em;
                          margin-left: 0em;
                            color: greenyellow; }
  
  
  section.sobre-mim p {font-family: Arial, Helvetica, sans-serif;
                        font-size: 1em;
                        margin-top: 1em;
                          margin-right: 0.5em;
                            margin-left: 1em;
                              line-height: 30px;
                                font-weight: 10;
                                  word-spacing: 3px;
  
  }
  
section#meus-estudos h1 { color: azure;
  margin-top: 12em;
  margin-left: 0em;
  }
  
  
#resumo { font-family: Arial, Helvetica, sans-serif;
           font-size: 1em;
              margin-top: 1em;
                margin-right: 0.5em;
                  margin-left: 1em;
                    line-height: 30px;
                      font-weight: 10;
                        word-spacing: 3px;}

#estudos ul {display: inline-block; flex-direction: column;
                margin-left: 1em;}
  
#estudos h3 { color: greenyellow;
                  font-family: Arial, Helvetica, sans-serif;
                  margin-left:1em;
                      word-spacing: 3px;
                        font-weight: 1em;
                        line-height: 30px;
                          margin-top: 1em;
  }
#estudos li { font-family: Arial, Helvetica, sans-serif;
                font-size: 1em;
                  word-spacing: 0.3em;
                    line-height: 25px; 
}
                                /*fim do estudo 1*/
#estudo-2 ul {display: inline-block; flex-direction: column;
}

#estudo-2 h3 { color: greenyellow;
                  font-family: Arial, Helvetica, sans-serif;
                    margin-left:1.9em;
                      word-spacing: 6px;
                        font-weight: 1em;
                          line-height: 30px;
                            margin-top: 1.0em;
}
#estudo-2 li { font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
    word-spacing: 0.3em;
      line-height: 25px; 
}

                        /* fim estudo 2*/
#estudo-3 ul {display: inline-block; flex-direction: column;
}

#estudo-3 h3 { color: greenyellow;
                  font-family: Arial, Helvetica, sans-serif;
                    margin-left:1.9em;
                      word-spacing: 6px;
                        font-weight: 1em;
                          line-height: 30px;
                            margin-top: 1.0em;
}
#estudo-3 li { font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
    word-spacing: 0.3em;
      line-height: 25px;} 
  /* fim estudo 3 */
  #minha-carreira h1 { font-family: "Roboto", sans-serif;
                        color: azure;
                          margin-top: 55em;
                            margin-left: 4em;
                              font-size: 1.5em;}
  
  #minha-carreira p {font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 1em;
      margin-right: 0.5em;
        margin-left: 1em;
          line-height: 30px;
            font-weight: 10;
              word-spacing: 3px;}

                            
  #trabalho-1 {font-family: Arial, Helvetica, sans-serif;
                margin-left: 1em;
                    word-spacing: 3px;
                      font-weight: 10;
                      line-height: 30px;
                      margin-top: 2em;}
                                    
  #trabalho-1 ul {margin-left: -2em; display: inline-block; flex-direction: column;
  }
  
  #trabalho-1 li {margin-right: 2em;
                  margin-left: 2em;
                    }
  
  #trabalho-2 {font-family: Arial, Helvetica, sans-serif;
                margin-left: 1em;
                   word-spacing: 3px;
                    font-weight: 10;
                       line-height: 30px;
                           margin-top: 2em;}
                        
  #trabalho-2 ul {margin-left: -2em; display: inline-block; flex-direction: column;
  } 
  
  #trabalho-2 li {margin-right: 2em;
                margin-left: 2em;
                  } 
  
  #trabalho-3 {font-family: Arial, Helvetica, sans-serif;
                margin-left: 1em;
                  word-spacing: 3px;
                    font-weight: 10;
                      line-height: 30px;
                          margin-top: 2em;}
                                  
  #trabalho-3 ul {margin-left: -2em; display: inline-block; flex-direction: column;
  } 
  
  #trabalho-3 li {margin-right: 2em;
                margin-left: 2em;
                  }                 
  
  #rodape {color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-top: 5em;
      margin-right: 1em;
        margin-left: 2em;
          line-height: 80px;
            font-weight: 10;
              word-spacing: 2px;
                }

}
